# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
.env
.venv/

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# System / IDE
.DS_Store
.vscode/
.idea/

# Logs
logs/
*.log

# Uploaded files
uploads/
vectorstore/
.env
backend/venv/
